[Unit]
Description=Univention Management Console Server
After=network.target remote-fs.target
Wants=slapd.service

[Service]
Type=simple
PIDFile=/run/umc-server.pid
ExecStart=python3 -m univention.management.console.protocol.server
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -SIGUSR1 $MAINPID
User=root
Group=root
StandardOutput=/var/log/univention/management-console-server.log
StandardError=/var/log/univention/management-console-server.log

[Install]
WantedBy=multi-user.target
Alias=univention-management-console-web-server.service
